.check {
    width: 20px;
    border-radius: 1px black;
    background-color: l;
    text-align: left;

}

.containers {

    min-width: 400px;
    height: 550px;
    display: flex;
    background-color: lightgrey;
}

.image {

    justify-content: left;
    text-align: left;
    height: 500px;
    padding-right: 1250px;
    padding-top: 50px;
    flex-direction: column;
}

.Rating {
    cursor: pointer;
}

.rupee {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    color: red;
    height: 40px;

}

.ClothCard {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.title {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    height: min-content;
    background-color: white;
    font-style: italic;
    font-weight: 1000;
    height: 120px;

    ;
}


.details {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    height: min-content;
    font-weight: 800;

    padding-left: 15px;
    padding-right: 15px;
    font-style: italic;
    text-align: center;
}

.inner_container {
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
}

.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    height: 20px;
}

.detailBox {
    padding-bottom: 500px;
    flex-direction: column;
}

.product--cart {
    flex: 1;
    margin: 1px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    width: 100%;
    flex-direction: row;

}

.product-img-container{
    width: 35%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.product-img-container img{
    max-height: 400px;
    max-width: 100%;
}

.product_title {
    font-size: 20px;
    font-weight: 700;
}

.product_info {
    padding-left: 20px;
    width: 75%;
    flex-direction: column;
}


.product_info>button {
    background-color: aliceblue;
    border: 1px solid;
    margin-top: 10px;
    border-color: black;
    height: 30px;
    width: 150px;

}

.product_price {
    font-size: 20px;
    font-weight: 700;
    color: darkgrey;
}

.quantity {
    font-size: 18px;
}

.productrupee {
    align-items: end;
    justify-content: right;
    text-align: right;

}

.finalrupee {
    border-top: 1px solid #000;
    margin-top: 1.5rem;
    height: 40px;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}