.ClothCard {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.title {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    height: min-content;
    background-color: white;
    font-style: italic;
    font-weight: 1000;
    height: 120px;

    ;
}

.container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.details {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    height: min-content;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    font-style: italic;
    text-align: center;
}

.inner_container {
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: lightgray;
}

.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    height: 20px;
}

.Radio {
    display: none;

}

.Rating {
    cursor: pointer;
}

.rupee {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    color: red;
    height: 40px;
}