.page-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.page-container::-webkit-scrollbar {
    display: none;
}

.welcome-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    font-size: 100px;
    font-weight: bolder;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: contain;
    transition: transform 1s ease;
    /* transform: translateX(100vh); */
}

.welcome-page p {
    font-size: 100px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 7s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.search-section {
    display: flex;
    justify-content: space-between;
    /* padding: 1rem 2rem; */
    border-bottom: 2px solid #f1f1f1;
    align-items: center;
}

.search-section input {
    width: 15rem;
    height: 1.5rem;
    padding-left: 20px;
    border: 2px solid #231557;
    border-radius: 5px;
}

.search-section input:focus {
    outline: none;
    border: 2px solid green;
}

.select-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    gap: 1rem;
}

.select-section-button {
    width: 6rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: bolder;
    font-style: italic;
    display: flex;
    align-items: center;
    text-align: center;
    justify-self: center;
    outline: none;
}

.select-section-button:hover {
    cursor: pointer;
    color: #231557;
    border-bottom: #231557;
}


@media screen and (max-width: 950px) {
    .search-section {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .search-section input {
        padding-left: -20px;
        height: 1.5rem;
    }

    .select-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        gap: 0.5rem;
    }
}

@media screen and (max-width: 400px){
    .search-section {
        padding-top: -0.5rem;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .search-section input {
        padding-left: -20px;
        width: 80%;
        height: 0.75rem;
    }

    .select-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        gap: 0.5rem;
        margin-left: -2rem;
    }
    .select-section-button {
        height: 0.75rem;
        width: min-content;
        font-size: 0.75rem;
        font-weight: bolder;
        font-style: italic;
        display: flex;
        align-items: center;
        text-align: center;
        justify-self: center;
        outline: none;
    }

}