.search-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #fff;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 75px;
}

/* . */
.filter-area {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
    padding-bottom: 5px;
}

.filter-area label {
    font-size: 1rem;
    text-align: center;
    font-weight: 800;
    width:100%;
    color: #3e4152;
}

.filter-area select {
    border: 3px solid whitesmoke;
    height: 1.5rem;
    width:100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.filter-area select:focus {
    outline: none;
    border: 3px solid lightblue;
}

.filter-area select option {
    background: #f1f3f6;
}
/* . */

.search-section input {
    width: 15%;
    height: 1.5rem;
    padding-left: 20px;
    border: 3px solid #231557;
    border-radius: 10px;
}

.search-section input:focus {
    outline: none;
    border: 3px solid green;
}

@media screen and (max-width: 800px){
    .filter-area {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
        flex-direction: column;
    }
    .filter-area label {
        font-size: 0.75rem;
        font-weight: 800;
        width:100%;
        color: #3e4152;
    }

    .filter-area select {
        border: 3px solid whitesmoke;
        height: 1rem;
        font-size: 0.6rem;
        width:100%;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    .search-section input {
        width: 175px;
        height: 1rem;
        border: 3px solid #231557;
        border-radius: 5px;
    }
}

@media screen and (max-width: 430px){
    .filter-area {
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
        flex-direction: column;
    }
    .filter-area label {
        font-size: 0.75rem;
        font-weight: 800;
        width:100%;
        color: #3e4152;
    }

    .filter-area select {
        border: 3px solid whitesmoke;
        height: 1rem;
        font-size: 0.6rem;
        width:100%;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    .search-section input {
        width: 125px;
        height: 1rem;
        border: 3px solid #231557;
        border-radius: 5px;
    }
}

.text-banner-title {
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}

.Exlopre-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #f1f3f6;
    gap: 10px;
    padding-bottom: 10px;
}


.display-section {
    display: flex;
    width: calc(100%-20px);
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    gap: 10px;
    max-height: 200vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.display-section::-webkit-scrollbar {
    display: none;
}

.explore-section-card-container {
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border:2px solid white;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
}

.explore-section-card-container:hover{
    border:2px solid gainsboro;
    transform: scale(1.025);
}

.explore-section-card-image {
    width: 220px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.explore-section-card-image img {
    max-width: 220px;
    max-height: 300px;
}

.explore-section-card-info {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    width: 95%;
}

.explore-section-card-info label {
    margin: none;
    padding: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-icons{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    padding: 3px;
    border-radius: 5px;
    gap: 5px;
    cursor: pointer;
}

.card-icons label{
    font-size: 0.6rem;
    font-weight: 600;
    text-align: center;
}
.card-icons i{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

/* jj */

.card-icons-one{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    padding: 3px;
    border-radius: 5px;
    gap: 5px;
    cursor: pointer;
    color: white;
    background: blue;
    height: 1rem;
}

.card-icons-one:hover{
    background:orangered
}

.card-icons-one label{
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
}
.card-icons-one i{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

/* ll */



.categoty-section {
    display: flex;
    flex: 0.24;
    background-color: #fff;
    padding: 10px;
    flex-direction: column;
    gap: 1rem;
}

.categoty-section-top {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #3e4152;
}

.categoty-section-top p,
i {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 1000;
}


.categoty-section-top i:hover {
    cursor: pointer;
    color: red;
    transform: scale(1.2);
}

.filter-section {
    /* margin-top: 1rem; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

