.search-section {
    display: flex;
    justify-content: space-between;
    /* padding: 1rem 2rem; */
    border-bottom: 2px solid #f1f1f1;
    align-items: center;
}

.search-section input {
    width: 15rem;
    height: 1.5rem;
    padding-left: 20px;
    border: 2px solid #231557;
    border-radius: 5px;
}

.search-section input:focus {
    outline: none;
    border: 2px solid green;
}

.select-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    gap: 1rem;
}

.select-section-button {
    width: 6rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: bolder;
    font-style: italic;
    display: flex;
    align-items: center;
    text-align: center;
    justify-self: center;
    outline: none;
}

.select-section-button:hover {
    cursor: pointer;
    color: #231557;
    border-bottom: #231557;
}

.text-banner-title {
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}


@media screen and (max-width: 950px) {
    .search-section {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .search-section input {
        padding-left: -20px;
        height: 1.5rem;
    }

    .select-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        gap: 0.5rem;
    }
}

@media screen and (max-width: 400px){
    .search-section {
        padding-top: -0.5rem;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .search-section input {
        padding-left: -20px;
        width: 80%;
        height: 0.75rem;
    }

    .select-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        gap: 0.5rem;
        margin-left: -2rem;
    }
    .select-section-button {
        height: 0.75rem;
        width: min-content;
        font-size: 0.75rem;
        font-weight: bolder;
        font-style: italic;
        display: flex;
        align-items: center;
        text-align: center;
        justify-self: center;
        outline: none;
    }

}

.Exlopre-container{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.explore-section{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.display-section{
    display: flex;
    flex: 0.745;
    border-right: 1px solid red;
}

.categoty-section{
    display: flex;
    flex: 0.245;
}