body {
  padding: 0;
  margin: 0;
}

.app {
  width: 100%;
  padding-top: 59px;
}

.AppBody{
  max-height:100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.AppBody::-webkit-scrollbar {
  display: none;
}